.actordetails{
  width:100%;
  padding: 0 30px;
}

.actordetailsMain{
  width:100%;
  display: flex;
}

.actordetailsTxtndRe{
  margin-left: 30px;
}

.actordetailsTxt{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  position: absolute;
  top:20%;
  left:10%;
}

.actordetailsImgBox {
  height:400px;
  position: relative;
}

.actordetailsImgBox img{
  width:500px;
  height: auto;
}

.actordetailsRe ul{
  width:100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.actordetailsRe{
  color:#fff;
}